/*.bak
/*.gcda
/*.gcno
/*.html
/*.lo
/*.o
/*.orig
/*.rej
/*.stamp
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/autom4te.cache
/build/Makefile.in
/build/aclocal.m4
/build/autotools/Makefile.in
/build/compile
/build/config.guess
/build/config.h.in
/build/config.rpath
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
/build/mkinstalldirs
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/docs/Makefile.in
/libtool
/libvaladate/Makefile.in
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/tests/PIE/Makefile.in
/tests/genie/Makefile.in
/tests/libvaladate/Makefile.in
/tests/libvaladate/data/Makefile.in
/tests/libvaladate/framework/Makefile.in
/tests/libvaladate/introspection/Makefile.in
/tests/libvaladate/utils/Makefile.in
/vapi/Makefile.in
