/*.bak
/*.gcda
/*.gcno
/*.html
/*.lo
/*.o
/*.orig
/*.rej
/*.stamp
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/build/Makefile.in
/build/autotools/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/docs/Makefile.in
/install-sh
/libtool
/libvaladate/Makefile.in
/ltmain.sh
/missing
/mkinstalldirs
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/tests/PIE/Makefile.in
/tests/genie/Makefile.in
/tests/libvaladate/Makefile.in
/tests/libvaladate/data/Makefile.in
/tests/libvaladate/framework/Makefile.in
/tests/libvaladate/introspection/Makefile.in
/tests/libvaladate/utils/Makefile.in
/vapi/Makefile.in
