Source: valadate
Section: devel
Priority: optional
Maintainer: Jenkins User <jenkins@valadate.org>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 autoconf,
 autotools-dev,
 libtool,
 libtool-bin,
 libglib2.0-dev (>= 2.40.0),
 libxml2-dev,
 libjson-glib-dev,
 libxslt1-dev,
 gtk-doc-tools,
 valac,
 valadoc
Standards-Version: 3.9.6
Homepage: https://github.com/chebizarro/valadate
#Vcs-Git: git@github.com:chebizarro/valadate.git
#Vcs-Browser: https://github.com/chebizarro/valadate

Package: valadate
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libglib2.0-0 (>= 2.40.0),
 libjson-glib-1.0-0,
 libxml2,
 libxslt1.1,
 libgtk-3-0
Description: Unit testing framework for GObject-based code
 For Vala developers who need to test their code, Valadate is a powerful
 testing framework that provides behavioral, functional and unit testing
 features to help them write great Open Source software. Unlike other testing
 frameworks, Valadate is designed especially for Vala while integrating
 seamlessly into existing toolchains.
