Source: libvaladate-1.0
Section: devel
Priority: optional
Maintainer: Chris Daley <chebizarro@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 autoconf,
 autotools-dev,
 libtool,
 libtool-bin,
 libglib2.0-dev (>= 2.40.0),
 libxml2-dev,
 libjson-glib-dev,
 libxslt1-dev,
 gtk-doc-tools,
 valac,
 valadoc
Standards-Version: 3.9.6
Homepage: https://github.com/chebizarro/valadate
#Vcs-Git: git@github.com:chebizarro/valadate.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/valadate.git;a=summary

Package: libvaladate-1.0-0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
 libglib2.0-0 (>= 2.40.0),
 libjson-glib-1.0-0,
 libxml2,
 libxslt1.1
Description: Unit testing framework for GObject-based code - library
 For Vala developers who need to test their code, Valadate is a powerful
 testing framework that provides behavioral, functional and unit testing
 features to help them write great Open Source software. Unlike other testing
 frameworks, Valadate is designed especially for Vala while integrating
 seamlessly into existing toolchains.
