#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

#override_dh_shlibdeps:
#	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

#override_dh_strip:
#	dh_strip --dbg-package=libvaladate-1.0-dbg

#autotools-dev,

%:
	dh $@  --with autotools-dev,autoreconf
